<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
      }
      paper-card{
        text-align: left;
        width: 400px;
        padding: 0 1em 1em 1em;
      }
      paper-card .card-actions{
        padding-top: 1em;
        text-align: right;
      }
      paper-button[raised]{
        background-color: var(--primary-color);
        color: cornsilk;
      }
    </style>
   
   <paper-card heading="Crear cuenta" elevation="1" animated-shadow="false" >
    <form>
      <div class="card-content">
        <paper-input label="Email"></paper-input>
        <paper-input label="Contraseña"></paper-input>
      </div>
      <div class="card-actions">
        <paper-button raised>Enviar</paper-button>
        <paper-button>Cancelar</paper-button>
      </div>
    </form>
   </paper-card>
  </template>

  <script>
    
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-app'
          }
        };
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
